@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
    font-family: Roboto;
    color: #343231;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3eb7d6;
}

#main {
    padding: 1rem;
    text-align: center;
    background-color: #039bc1;
    border-radius: 5%;
}

#timer {
    font-size: 4rem;
    padding: 2rem;
    padding-bottom: 0;
    font-weight: 500;
}

#task {
    padding-bottom: 2rem;
}