@font-face {
    font-family: CuteAurora;
    src: url('fonts/CuteAurora-PK3lZ.ttf') format('truetype');
}

* {
    font-family: CuteAurora;
    color: #343231;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,165,207,1) 0%, rgba(62,183,214,1) 40%, rgba(0,212,255,1) 100%);
}

#main {
    padding: 1rem;
    text-align: center;
    background-color: rgba(3, 155, 193, 0.3);
    border: 5px solid #0084a5;
    border-radius: 5%;
}

#timer {
    font-size: 4rem;
    padding: 2rem;
    padding-bottom: 0;
    font-weight: 500;
}

#task {
    padding-bottom: 2rem;
}

button {
    padding: 0.5rem;
    background-color: rgba(3, 155, 193, 0.3);
    border-color: #0084a5;
    border-radius: 10%;
}